<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<body style="margin-top:130px;">
	
    <% include header.ejs %>
  <div class="container" style="text-align: center; margin-bottom:50px;">
  
  <a class="btn icon-btn btn-info" href="notice"><span></span>공지사항</a>
  <a class="btn icon-btn btn-warning" href="fnq"><span></span>자주묻는 질문</a>
  <a class="btn icon-btn btn-danger" href="contact"><span></span>contact us</a>
  </div>
<!-- Contact Section -->
    <section id="contact" style="background-color: rgb(175, 207, 167); width: 90em; height:55em; margin: auto">
        <div class="container" style=" margin: auto">
            <div class="row">
                <div class="col-lg-12 text-center" style="margin-top: -5em;">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted" style="color: grey;">궁금하신 모든 사항에 대해 질문해주세요:-)</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="sentMessage" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="제목을 입력해주세요" 
                                    id="title" name="title" required data-validation-required-message="제목을 입력해주세요">
                                    <p class="help-block text-danger"></p>
                                </div>
                                 <div class="form-group">
                                    <textarea class="form-control" placeholder="궁금하신 내용을 입력해주세요" 
                                    id="message" name="message" required data-validation-required-message="궁금하신 내용을 입력해주세요"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-lg btn-primary" style="width:400px;">
                               <span> 전송</span></button>
                                <button type="submit" class="btn btn-lg btn-primary" style="width:400px;"><span>취소</span></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <br>
    <br>
    <br>
  <% include footer.ejs %>