<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>HTML Bootstrap Template</title>

<!-- Bootstrap -->
<link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="stylesheets/css/animate.css" rel="stylesheet"> -->
<!-- <link href="stylesheets/css/animate.min.css" rel="stylesheet"> -->
<!-- <link href="stylesheets/css/style.css" rel="stylesheet" /> -->

<style type="text/css">
.logo {
	width: 10%;
	height: 10%;
}

.inner {
	white-space: nowrap;
}

img {
	text-align: left;
}

.btn-glyphicon {
	padding: 8px;
	background: #ffffff;
	margin-right: 4px;
}

.icon-btn {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.panel {
	text-align: center;
	/* background-color: green; */
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}

.canceltext {
	width: 90%;
}

h3 {
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	font-weight: 300;
}

.container {
	max-width: 970px;
}

div[class*='col-'] {
	padding: 0 30px;
}

.wrap {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

a:focus, a:hover, a:active {
	outline: 0;
	text-decoration: none;
}

.panel {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #fff;
	background: none;
	box-shadow: none;
}

.panel:last-child {
	border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
	border-radius: 4px 4px 0 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.panel-heading {
	background-color: #0072AE;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 0;
}

.panel-title a {
	display: block;
	color: #fff;
	padding: 15px;
	position: relative;
	font-size: 22px;
	font-weight: 400;
}

.panel-body {
	background: #fff;
}

.panel:last-child .panel-body {
	border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
	border-radius: 0 0 4px 4px;
	transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
	border-radius: 0;
	transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */
.panel-heading a:before {
	content: '\e146';
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	font-size: 24px;
	transition: all 0.5s;
	transform: scale(1);
}

.panel-heading.active a:before {
	content: ' ';
	transition: all 0.5s;
	transform: scale(0);
}

#bs-collapse .panel-heading a:after {
	content: ' ';
	font-size: 24px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	transform: scale(0);
	transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
	content: '\e909';
	transform: scale(1);
	transition: all 0.5s;
}
/* #accordion rotate icon option */
#accordion .panel-heading a:before {
	content: '\e316';
	font-size: 24px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	transform: rotate(180deg);
	transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
	transform: rotate(0deg);
	transition: all 0.5s;
}
</style>
</head>
<body>

<br>
<br>
<br>

<!-- service 헤어부분 -->
 
  <div class="container">
    <img src="/stylesheets/img/logo.png" class="logo">
    <h2>고객센터</h2>
    <hr>
<!-- service헤더부분 끝 -->	

<br>

<div class="container" style="text-align: center; margin-bottom: 50px">
    <a class="btn icon-btn btn-info" href="notice"><span
      class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>공지사항</a>
    <a class="btn icon-btn btn-warning" href="fnq"><span
      class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>자주묻는
      질문</a> <a class="btn icon-btn btn-danger" href="contact"><span
      class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>contact
      us</a>
  </div>
  
  
<br>
<br>




	<section class="contact-page">
		<div class="container">
			<div class="text-center">
				<h2>Contact Us</h2>
			</div>
			<div class="row contact-wrap">
				<div class="col-md-6 col-md-offset-3">
					

						<div class="form-group">
							<input type="text" class="form-control" name="subject"
								id="subject" placeholder="제목" data-rule="minlen:4"
								data-msg="Please enter at least 8 chars of subject" />
							<div class="validation"></div>
						</div>
						<div class="form-group">
							<textarea class="form-control" name="message" rows="15"
								data-rule="required" data-msg="Please write something for us"
								placeholder="내용입력" style='resize: none'></textarea>
							<div class="validation"></div>
						</div>

						<div class="text-center">
							<button type="submit" name="submit"
								class="btn btn-primary btn-lg">전송</button>
							<button type="cancel" name="cancel"
								class="btn btn-primary btn-lg">취소</button>
						</div>

				</div>
			</div>

			<!--/.row-->
		</div>
		<!--/.container-->
	</section>
	<!--/#contact-page-->


</body>
