

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>ZUP_자주 묻는 질문</title>
<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/css/font-awesome.min.css" rel="stflesheet">

</head>
<body style="margin-top:130px;">

<% include header.ejs %>

 <div class="container" style="text-align: center; margin-bottom: 50px;">
  
  <a class="btn icon-btn btn-info" href="notice"><span></span>공지사항</a>
  <a class="btn icon-btn btn-warning" href="fnq"><span></span>자주묻는 질문</a>
  <a class="btn icon-btn btn-danger" id="conButton" ><span></span>contact us</a>
  </div>


     <div style="background-color: rgb(175, 207, 167); width: 90em; height:40em; margin: auto">
  <div class="container" style="margin-top: 3em; text-align: center;">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
    <br>
    <br>
    <br>
      <h2 class="section-heading" style="font-size: 40px; color: white;">FnQ</h2>
       <h3 class="section-subheading text-muted" style="font-size: 15px; color: white;">고객님들께 가장 많이 받는 질문을 보기 쉽게 정리하였습니다:-)</h3>
      <br>
      <br>
      <br>
      <div class="panel-group wrap" id="bs-collapse"  style="text-align: left;">

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#one">1. 줍머니를 현금으로 전환하고 싶어요.</a>
            </h4>
          </div>
          <div id="one" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
줍머니는 1만 포인트 이상 적립된 경우 현금으로로 전환이 가능합니다.
※ 현금으로 전환 시 줍머니는 전액전환됩니다.


마이페이지 > 왼쪽 하단 ZUP머니 현금환전 내역에서 [현금 환전] 버튼을 클릭하여 전환할 수 있습니다.

              </pre>
            </div>
          </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#two">2. 비밀번호를 변경하고 싶어요.</a>
            </h4>
          </div>
          <div id="two" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
비밀번호 변경은 마이페이지 > 회원정보 수정 에서 가능합니다.
(계좌 환불 시에는 회원과 동일한 명의로만 환불신청이 가능합니다.)

비밀번호는 띄어쓰기 없는 6~12자의 영문(대/소문자 구분됨), 숫자, 특수문자 조합으로만 사용하실 수 있으며 아이디, 주민번호, 전화번호 등의 개인정보로 이루어진 비밀번호는 사용 불가능합니다.
              </pre>
              </div>

          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#three">3. 개인정보수정은 어디에서 가능한가요? </a>
            </h4>
          </div>
          <div id="three" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
ZUP 마이페이지  > 나의정보 수정 페이지에서 개인정보를 수정하실 수 있습니다.

아이디를 제외한 모든 정보의 수정이 가능하며 이름 변경을 원하시는 경우 고객님께서 본인인증를 거치신 후
직접 변경하실 수 있습니다.

아이디 변경을 원하시는 고객님께서는 탈퇴 후 다시 가입하셔야 하며 그 경우 고객님의 기존 접수내역과 
ZUP머니 등은 이전이 불가하오니 이점 참고하시어 진행하여 주시기 바랍니다.
              </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#four">4. 접수 취소를 하고 싶어요 </a>
            </h4>
          </div>
          <div id="four" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
기본적으로 상시 취소는 불가능 합니다만,

불가피한 사정으로 접수 취소를 원하신다면 관리자가 취소처리가능하오니 070-000-0000 통화 후 취소 사유를 말씀해주시면 됩니다.
            </pre>
            </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#five">5. FnQ외에 질문이 있어요! </a>
            </h4>
          </div>
          <div id="five" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
다른 질문사항이 있으실 경우

로그인 후 > 고객센터 > Contact us 항목으로 이동후 질문을 작성하여 주시면
관리자에게 메일 전송 후 24시간 이내에 답신을 드리겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#six">6. 인증번호 요청이 안된다고 나옵니다. </a>
            </h4>
          </div>
          <div id="six" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
ZUP 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 ZUP에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        

      </div>
      <!-- end of #bs-collapse  -->

    </div>



  </div>
  <!-- end of container -->
</div>	
<br>
<br>
<br>



<!--  로그인시 컨텍트어스 가기 -->
  <script type="text/javascript">
			window.onload = function() {
				var button = document.getElementById('conButton');

				//컨텍트어스	
				button.onclick = function() {
					var id = "<%= sessionId%>";

					if (id == "") {
						swal({
							title : '잠시만!',
							text : '먼저 로그인을 해주세요!',
							type : 'warning'
						})

					} else {
						location.href = "contact"
					}

				}
				

			};
		</script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="stylesheets/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <% include footer.ejs %>
</body>
