

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>HTML Bootstrap Template</title>

<!-- Bootstrap -->
<link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/css/font-awesome.min.css" rel="stylesheet">
<link href="stylesheets/css/animate.css" rel="stylesheet">
<link href="stylesheets/css/animate.min.css" rel="stylesheet">
<link href="stylesheets/css/style.css" rel="stylesheet" />



<style type="text/css">
.logo {
	width: 10%;
	height: 10%;
}

.inner {
	white-space: nowrap;
}

img {
	text-align: left;
}

.btn-glyphicon {
	padding: 8px;
	background: #ffffff;
	margin-right: 4px;
}

.icon-btn {
	padding: 1px 15px 3px 2px;
	border-radius: 50px;
}

.panel {
	text-align: center;
	/* background-color: green; */
	margin-bottom: 50px;
}

table {
	margin-bottom: 50px;
}

.canceltext {
	width: 90%;
}

h3 {
	color: #fff;
	font-size: 24px;
	text-align: center;
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
	margin-bottom: 30px;
	font-weight: 300;
}

.container {
	max-width: 970px;
}

div[class*='col-'] {
	padding: 0 30px;
}

.wrap {
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}

a:focus, a:hover, a:active {
	outline: 0;
	text-decoration: none;
}

.panel {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #fff;
	background: none;
	box-shadow: none;
}

.panel:last-child {
	border-bottom: none;
}

.panel-group>.panel:first-child .panel-heading {
	border-radius: 4px 4px 0 0;
}

.panel-group .panel {
	border-radius: 0;
}

.panel-group .panel+.panel {
	margin-top: 0;
}

.panel-heading {
	background-color: #0072AE;
	border-radius: 0;
	border: none;
	color: #fff;
	padding: 0;
}

.panel-title a {
	display: block;
	color: #fff;
	padding: 15px;
	position: relative;
	font-size: 22px;
	font-weight: 400;
}

.panel-body {
	background: #fff;
}

.panel:last-child .panel-body {
	border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
	border-radius: 0 0 4px 4px;
	transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
	border-radius: 0;
	transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */
.panel-heading a:before {
	content: '\e146';
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	font-size: 24px;
	transition: all 0.5s;
	transform: scale(1);
}

.panel-heading.active a:before {
	content: ' ';
	transition: all 0.5s;
	transform: scale(0);
}

#bs-collapse .panel-heading a:after {
	content: ' ';
	font-size: 24px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	transform: scale(0);
	transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
	content: '\e909';
	transform: scale(1);
	transition: all 0.5s;
}
/* #accordion rotate icon option */
#accordion .panel-heading a:before {
	content: '\e316';
	font-size: 24px;
	position: absolute;
	font-family: 'Material Icons';
	right: 5px;
	top: 10px;
	transform: rotate(180deg);
	transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
	transform: rotate(0deg);
	transition: all 0.5s;
}
</style>


</head>
<body>



  <!-- service 헤어부분 -->
  <div class="container">
    <img src="/stylesheets/img/logo.png" class="logo">
    <h2>고객센터</h2>
    <hr>

  </div>
  <div class="container" style="text-align: center; margin-bottom: 50px">
    <a class="btn icon-btn btn-info" href="notice"><span
      class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>공지사항</a>
    <a class="btn icon-btn btn-warning" href="fnq"><span
      class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>자주묻는
      질문</a> <a class="btn icon-btn btn-danger" href="contact"><span
      class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>contact
      us</a>
  </div>

  <!-- service헤더부분 끝 -->




  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h3>Default collapse with scaling icon</h3>
      <div class="panel-group wrap" id="bs-collapse">

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#one">환불을 신청했는데 환불 기간은 얼마나 소요되나요?</a>
            </h4>
          </div>
          <div id="one" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
환불 접수 완료 후, 결제 수단별 환불 시점은 아래와 같이 소요됩니다.
(반품환불은 상품 회수>업체 입고>환불승인단계를 거쳐 진행되오니 참고 부탁드립니다.)

  - 신용카드 : 2~4 영업일 이내, 카드사 승인 취소(페이코,케이페이,페이나우 등 간편결제 동일)
  - 체크카드 : 2~4 영업일 이내, 카드사 승인 취소 후 해당 카드 계좌로 입금
  - 실시간 계좌이체 : 2~4일 (영업일 기준) 이내 전체환불 > 결제계좌로 자동 입금 / 부분환불 > 계좌입력 필요
  - 휴대폰 결제 : 휴대폰 결제 전체 취소 시, 즉시 취소 반영 
                     (휴대폰 전월 결제 주문 및 부분 취소인 경우에는 아래 무통장입금 환불과 동일하게 진행됩니다.)
  - 무통장입금 : 업체 입고 후 환불 접수일로부터 1영업일 이내 반품 신청 시 등록해주신 계좌로 입금됨 
  - 위메프 포인트 : 즉시 적립

※ 휴대폰 전월 결제 주문인 경우에는 무통장입금 환불과 동일하게 진행됩니다.
              </pre>
            </div>
          </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#two"> 판매업체로 어떻게 문의 할 수 있나요?</a>
            </h4>
          </div>
          <div id="two" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
마이페이지 > 구매목록에서 아래와 같이 주문을 취소하실 수 있습니다.
(계좌 환불 시에는 회원과 동일한 명의로만 환불신청이 가능합니다.)

[배송상품]
1) 배송준비중 : 상품이 발송되기 전으로 '주문취소' 버튼 클릭으로 배송 전 취소가 가능합니다.

2) 상품출고대기 : 파트너사(판매업체)에서 고객님의 주문내역을 확인한 상태로, 출고중지요청 신청이 가능합니다. 
즉각적인 취소가 어려우며, 상품이 출고되었을 경우에는 취소가 어려울 수 있습니다.

※ 마이페이지>취소/교환/반품 신청에서 출고중지요청 버튼 클릭

3) 상품출고, 배송중, 배송완료 : 이미 상품이 발송되어 상품 수령일 다음날로부터 7일 이내 마이페이지>취소/교환/반품신청에서 반품요청 버튼을 클릭하여 반품 접수가 가능합니다.

[티켓상품]

마이페이지 > 구매목록에서 '주문취소' 버튼을 클릭하여 취소 신청이 가능하며,
접수하신 티켓의 사용여부 및 사용기간 경과 여부를 확인 후 취소가 승인됩니다.
※ 일부 티켓 상품의 경우, 직접 취소가 어려울 수 있사오니 상품페이지 내 취소,환불 규정을 확인 부탁드립니다.
※ 여행/레저/문화 상품은 취소신청 날짜에 따라 공제금이 발생될 수 있으며, 사용 지정일에는 취소 승인이 불가합니다.

※ 현재 1개의 결제건에서 동시에 중복 취소/교환/반품 신청 불가하므로, 1개 이상 상품에 대해 취소/교환/반품 신청 
  원하실 경우 1:1문의를 이용해 주시기 바랍니다.
              </pre>
              </div>

          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#three"> 주문한 상품을 취소하고 싶은데 어떻게 해야 하나요? </a>
            </h4>
          </div>
          <div id="three" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
위메프에서는 업체 연락처를 별도로 명시하고 있지 않습니다. 

상품정보, 상품출고일정 확인, A/S 등의 문의는 해당 [상품페이지 > Q&A] 에서 직접 문의하실 수 있으며,
[마이페이지 > 상품Q&A] 에서 질문 및 답변 내역을 확인 할 수 있습니다.
(판매종료된 상품에 대해서는 Q&A 문의 작성이 불가합니다.)

추가 문의 사항이 있는 경우, [마이페이지 > 1:1문의] 로 접수해주시면 위메프에서 확인하여 안내드리겠습니다.

※ 비회원은 Q&A 작성 이용이 어려우니, 고객센터로 문의 부탁드립니다.
기타 홈페이지 에러/장애, 티켓/쿠폰 문의는 [마이페이지 > 1:1문의] 를 이용해주세요.
              </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#four"> 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="four" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
            </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#five"> 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="five" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#six"> 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="six" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#seven"> 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="seven" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->

      </div>
      <!-- end of #bs-collapse  -->

    </div>



  </div>
  <!-- end of container -->



  <script type="text/javascript">

$(document).ready(function () {
    $('.collapse.in').prev('.panel-heading').addClass('active');
    $('#accordion, #bs-collapse')
        .on('show.bs.collapse', function (a) {
            $(a.target).prev('.panel-heading').addClass('active');
        });
        .on('hide.bs.collapse', function (a) {
            $(a.target).prev('.panel-heading').removeClass('active');
        });
});

</script>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="stylesheets/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <script src="stylesheets/js/wow.min.js"></script>
</body>
