

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>ZUP_자주 묻는 질문</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:700|Patua+One|Roboto+Condensed:700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="stylesheets/css/font-awesome.min.css" rel="stylesheet">



<style>
body{
    font-family: 'Oswald', sans-serif;
}

h2{
    display:inline-block;
}
.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}
   
.btn-hot {
color: #fff;
background-color: #db5566;
border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
color: #fff;
background-color: #df6a78;
border-bottom:2px solid #b25560;
outline: none;}


.btn-hot:active, .btn-hot.active {
color: #fff;
background-color: #c04b59;
border-top:2px solid #9a3c47;
margin-top: 2px;
}

.btn-sunny {
color: #fff;
background-color: #f4ad49;
border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
color: #fff;
background-color: #f5b75f;
border-bottom:2px solid #c4924c;
outline: none;
}


.btn-sunny:active, .btn-sunny.active {
color: #fff;
background-color: #d69840;
border-top:2px solid #ab7a33;
margin-top: 2px;
}

.btn-fresh {
color: #fff;
background-color: #51bf87;
border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
color: #fff;
background-color: #66c796;
border-bottom:2px solid #529f78;
outline: none;
}


.btn-fresh:active, .btn-fresh.active {
color: #fff;
background-color: #47a877;
border-top:2px solid #39865f;
outline: none;
outline-offset: none;
margin-top: 2px;
}

.btn-sky {
color: #fff;
background-color: #0bacd3;
border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
color: #fff;
background-color: #29b6d8;
border-bottom:2px solid #2192ad;
outline: none;
}

.btn-sky:active, .btn-sky.active {
color: #fff;
background-color: #0a97b9;
border-top:2px solid #087994;
outline-offset: none;
margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

a {color:#fff;}
a:hover {text-decoration:none; color:#fff;}



}
</style>
</head>
<body>

<% include header.ejs %>
<div class="well text-center">
			<button type="button" class="btn btn-hot text-uppercase"><a href="/notice">공지사항</a></button>
            <button type="button" class="btn btn-sunny text-uppercase"><a href="/fnq">자주 묻는 질문</a></button>
            <button type="button" class="btn btn-fresh text-uppercase"><a href="/contact">Contact us</a></button>
        </div>
        
        
  <div class="container">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <h2>F & Q</h2>
      <br>
      <div class="panel-group wrap" id="bs-collapse">

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#one">1. 환불을 신청했는데 환불 기간은 얼마나 소요되나요?</a>
            </h4>
          </div>
          <div id="one" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
환불 접수 완료 후, 결제 수단별 환불 시점은 아래와 같이 소요됩니다.
(반품환불은 상품 회수>업체 입고>환불승인단계를 거쳐 진행되오니 참고 부탁드립니다.)

  - 신용카드 : 2~4 영업일 이내, 카드사 승인 취소(페이코,케이페이,페이나우 등 간편결제 동일)
  - 체크카드 : 2~4 영업일 이내, 카드사 승인 취소 후 해당 카드 계좌로 입금
  - 실시간 계좌이체 : 2~4일 (영업일 기준) 이내 전체환불 > 결제계좌로 자동 입금 / 부분환불 > 계좌입력 필요
  - 휴대폰 결제 : 휴대폰 결제 전체 취소 시, 즉시 취소 반영 
                     (휴대폰 전월 결제 주문 및 부분 취소인 경우에는 아래 무통장입금 환불과 동일하게 진행됩니다.)
  - 무통장입금 : 업체 입고 후 환불 접수일로부터 1영업일 이내 반품 신청 시 등록해주신 계좌로 입금됨 
  - 위메프 포인트 : 즉시 적립

※ 휴대폰 전월 결제 주문인 경우에는 무통장입금 환불과 동일하게 진행됩니다.
              </pre>
            </div>
          </div>

        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#two">2. 판매업체로 어떻게 문의 할 수 있나요?</a>
            </h4>
          </div>
          <div id="two" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
마이페이지 > 구매목록에서 아래와 같이 주문을 취소하실 수 있습니다.
(계좌 환불 시에는 회원과 동일한 명의로만 환불신청이 가능합니다.)

[배송상품]
1) 배송준비중 : 상품이 발송되기 전으로 '주문취소' 버튼 클릭으로 배송 전 취소가 가능합니다.

2) 상품출고대기 : 파트너사(판매업체)에서 고객님의 주문내역을 확인한 상태로, 출고중지요청 신청이 가능합니다. 
즉각적인 취소가 어려우며, 상품이 출고되었을 경우에는 취소가 어려울 수 있습니다.

※ 마이페이지>취소/교환/반품 신청에서 출고중지요청 버튼 클릭

3) 상품출고, 배송중, 배송완료 : 이미 상품이 발송되어 상품 수령일 다음날로부터 7일 이내 마이페이지>취소/교환/반품신청에서 반품요청 버튼을 클릭하여 반품 접수가 가능합니다.

[티켓상품]

마이페이지 > 구매목록에서 '주문취소' 버튼을 클릭하여 취소 신청이 가능하며,
접수하신 티켓의 사용여부 및 사용기간 경과 여부를 확인 후 취소가 승인됩니다.
※ 일부 티켓 상품의 경우, 직접 취소가 어려울 수 있사오니 상품페이지 내 취소,환불 규정을 확인 부탁드립니다.
※ 여행/레저/문화 상품은 취소신청 날짜에 따라 공제금이 발생될 수 있으며, 사용 지정일에는 취소 승인이 불가합니다.

※ 현재 1개의 결제건에서 동시에 중복 취소/교환/반품 신청 불가하므로, 1개 이상 상품에 대해 취소/교환/반품 신청 
  원하실 경우 1:1문의를 이용해 주시기 바랍니다.
              </pre>
              </div>

          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#three">3. 주문한 상품을 취소하고 싶은데 어떻게 해야 하나요? </a>
            </h4>
          </div>
          <div id="three" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
              <pre>
위메프에서는 업체 연락처를 별도로 명시하고 있지 않습니다. 

상품정보, 상품출고일정 확인, A/S 등의 문의는 해당 [상품페이지 > Q&A] 에서 직접 문의하실 수 있으며,
[마이페이지 > 상품Q&A] 에서 질문 및 답변 내역을 확인 할 수 있습니다.
(판매종료된 상품에 대해서는 Q&A 문의 작성이 불가합니다.)

추가 문의 사항이 있는 경우, [마이페이지 > 1:1문의] 로 접수해주시면 위메프에서 확인하여 안내드리겠습니다.

※ 비회원은 Q&A 작성 이용이 어려우니, 고객센터로 문의 부탁드립니다.
기타 홈페이지 에러/장애, 티켓/쿠폰 문의는 [마이페이지 > 1:1문의] 를 이용해주세요.
              </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->

        <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#four">4. 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="four" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
            </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#five">5. 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="five" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#six">6. 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="six" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->
        
          <div class="panel">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#bs-collapse"
                href="#seven">7. 본인 인증을 할 수 없다고 나옵니다. </a>
            </h4>
          </div>
          <div id="seven" class="panel-collapse collapse">
            <div class="panel-body" style='color: black'>
            <pre>
위메프 회원 정책상 1명의당 1개의 아이디에만 본인인증을 취득하실 수 있기 때문에, 
만약 과거에 동일명의로 위메프에 가입한 인증계정이 존재한다면, 타 계정에서 추가 인증이 제한됩니다.
이때는 기존 인증 아이디를 직접 탈퇴신청을 해주셔야만 추가로 인증을 하실 수 있게 됩니다.

기존 인증아이디 정보는 인증실패 시 "이미 인증된 계정이 있습니다." 라는 메시지와 함께 노출이 됩니다.
기 인증계정은 탈퇴를 통해서만 삭제가 가능하며, 탈퇴신청은 당사에서 대리로 접수해드리기 어렵기 때문에
해당 기존 인증아이디로 로그안하시어 탈퇴신청을 부탁드리겠습니다. (탈퇴 신청일로부터 5일 후 삭제완료)

기존 인증아이디의 비밀번호를 분실하였을 때는 
[로그인>비밀번호찾기] 메뉴를 통해 등록된 이메일주소로 비밀번호 재발급이 가능합니다.

직접 비밀번호 재발급이 어려우신 경우 고객센터 또는 1:1문의로 문의를 남겨주시면, 도움을 드리도록 하겠습니다.
            </pre>
              </div>
          </div>
        </div>
        <!-- end of panel -->

      </div>
      <!-- end of #bs-collapse  -->

    </div>



  </div>
  <!-- end of container -->



  <script type="text/javascript">

$(document).ready(function () {
    $('.collapse.in').prev('.panel-heading').addClass('active');
    $('#accordion, #bs-collapse')
        .on('show.bs.collapse', function (a) {
            $(a.target).prev('.panel-heading').addClass('active');
        });
        .on('hide.bs.collapse', function (a) {
            $(a.target).prev('.panel-heading').removeClass('active');
        });
});

</script>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="stylesheets/js/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="stylesheets/js/bootstrap.min.js"></script>
  <script src="stylesheets/js/wow.min.js"></script>
  <% include footer.ejs %>
</body>
