<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
 <!-- Text encoded as UTF-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ZUP - 빈병수거접수</title>
     <link href="/stylesheets/css/agency.min.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/stylesheets/css/agency.min.css" rel="stylesheet">
      <script src="/stylesheets/js/sweetalert2.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/stylesheets/css/sweetalert2.min.css">
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/" style="font-size: 70px;"> Z U P </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    
<!-- 로그인시 페이지 변화 -->
				    
				    <li>
				    <%if(sessionId == null){%>
				    </li>
				    <li>
                        <a class="page-scroll" href="/#introduce">회사소개</a>
                    </li>
				    <li>
					    <a href="login">로그인</a> 
				    </li>
				    <li>  
				        <a href="agree">회원가입</a>
                    </li>
                    <li>
                        <a href="#" id="myButton2">마이페이지</a>
                    </li>
                    <li>
                        <a href="notice">고객센터</a>
                    </li>
					<li>
					</ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

                  
					<% }else if(sessionId == 'admin'){ %>
					<li>
					<a> 
					<%=sessionId%>님 로그인
					</a>
					</li>
  <li><a class="page-scroll" href="/#introduce">회사소개</a></li>
  <li>
					<a href="user">관리자페이지</a>
                    </li>
                   
                    <li>
                        <a href="notice">고객센터</a>
                    </li>
					<li>
					<a href="logout">로그아웃</a>
					</li>
					
                    
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
 
					<%}else if(sessionId != null && sessionId != 'admin'){%>
					<li>
					<a><%=sessionId%>님 로그인중...</a>
					</li>
					<li>
                        <a href="mypage">마이페이지</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/#introduce">회사소개</a>
                    </li>
                    <li>
                        <a href="notice">고객센터</a>
                    </li>
                    <li>
					<a href="logout">로그아웃</a>
					</li> 
                    </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
   
					<%};%>
           <script type="text/javascript">
     
        var button55 = document.getElementById('myButton2');
console.log("동준");
        //마이페이지 
        button55.onclick = function() {
          var id = "<%= sessionId%>";

          if (id == "") {
            swal({
              title : '잠시만!',
              text : '먼저 로그인을 해주세요!',
              type : 'warning'
            })

          } else {
            location.href = "mypage"
          }

        }

   
    </script>
