<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ZUP_회원 아이디 찾기 완료</title>

<!-- Bootstrap Core CSS -->
<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="/stylesheets/css/stylish-portfolio.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/stylesheets/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

</head>

<body>

<br><br><br>
   <br>
   <div class="container" style="text-align: center">
      <div>
         <div class="wrapper col-md-offset-3 col-md-6">
            <form action="${pageContext.servletContext.contextPath }/index.jsp"
               method="post" name="Login_Form" class="form-signin">
              

               <div class="col-md-12">
                  <hr style="border: dashed 3px GREEN">
                  <h3 style="text-align: center">ID 찾기 성공 :D</h3>
                  <hr style="border: dashed 3px GREEN">
               </div>

               <div class="col-md-12">
                  <table style="text-align: left;">
                      <tr>
                     <td><h3>이름 : <%= data[0].user_name %></h3></td>
                     </tr>
                     <tr>
                     <td><h3>아이디 : <%= data[0].user_id %></h3></td>
                  </tr>
                  </table>
                  <div class="text-center">
                     <a href="gologin"><input type="button" class="btn btn-info" value="확인"></a>
                     <a href="pwcheck"><input type="button" class="btn btn-info" value="비밀번호 찾기"></a>
                  </div>

                   <br>
                  <div style="color: red"><i class="fa fa-check-circle-o" aria-hidden="true"></i> 확인버튼 클릭시 로그인화면으로 이동합니다.</div>

               </div>
            </form>
         </div>
      </div>
   </div>

</body>

</html>
