<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ZUP - 빈병수거접수</title>
<link rel="icon" type="image/png" sizes="16x16"
	href="/favicon-16x16.png">

<!-- Bootstrap Core CSS -->
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Theme CSS -->
<link href="/stylesheets/css/agency.min.css" rel="stylesheet">

<!-- Sweetalert -->
<script src="/stylesheets/js/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/stylesheets/css/sweetalert2.min.css">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script
	src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	
<!--  i 클래스 -->	
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	

<style>
#dododododo {
	display: none;
}

#dododododo hover {
	display: inline;
}

#introduce {
	height: 60em;
}

#a {
	margin-top: 12em;
	margin-left: -85em;
}

#a2 {
	margin-top: -6.5em;
	margin-left: -85em;
}

#b {
	margin-top: 5em;
	margin-left: -85em;
	opacity: 0.7;
}

#b2 {
	margin-left: -84em;
	margin-top: -8em;
	opacity: 0.78;
	z-index: 1000;
}

#b3{
margin-left: -20em;

}

/* 접수하기 버튼 */
.hoverbtn {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	line-height: 51px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	margin-left: -46.7em;
	font-family: "lotteMartHappy";
	height: 55px;
	width: 259.5px;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 1;
	color: #fff;
}

.hoverbtn:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn.effect-6 {
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* 회원가입버튼 */
.hoverbtn2 {
	display: inline-block;
	font-size: 8px;
	font-weight: 400;
	line-height: 26.5px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	font-family: "lotteMartHappy";
	height: 28px;
	width: 113px;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 10000;
	color: #fff;
}

.hoverbtn2:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn2:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn2.effect-6 {
	box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn2.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn2.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn2.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* 4개버튼효과 */
.hoverbtn3 {
	display: inline-block;
	font-size: 8px;
	font-weight: 400;
	line-height: 26.5px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	font-family: "lotteMartHappy";
	height: 56px;
	width: 29em;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 10000;
	color: rgb(176, 211, 230);
margin-bottom: 1.1em;
margin-left: 11.8em;
	margin-top: -4em;
}

.hoverbtn3:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn3:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn3.effect-6 {
	/* box-shadow: 0 0 0 4px rgba(255, 255, 255, 1); */
	box-shadow: 0 0 0 px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn3.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn3.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn3.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
	display: none;
}

/* --------------- */
.hoverbtn4 {
	display: inline-block;
	font-size: 15px;
	font-weight: 20;
	line-height: 26.5px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	font-family: "lotteMartHappy";
	height: 36px;
	width: 19em;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 10000;
	/*  color: rgb(248,252,157); */
	margin-bottom: 1.1em;
margin-left: 7.8em;
	margin-top: -4em;
}

.hoverbtn4:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn4:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn4.effect-6 {
	/*     box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
 */
	box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn4.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn4.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn4.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* -------------------------- */
.hoverbtn5 {
	display: inline-block;
	font-size: 15px;
	font-weight: 20;
	line-height: 26.5px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	font-family: "lotteMartHappy";
	height: 36px;
	width: 19em;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 10000;
	color: rgb(254, 198, 165);
	margin-bottom: 1.1em;
margin-left: 7.8em;
	margin-top: -4em;
}

.hoverbtn5:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn5:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn5.effect-6 {
	/*     box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
 */
	box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn5.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn5.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn5.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

/* --------------------- */
.hoverbtn6 {
	display: inline-block;
	font-size: 15px;
	font-weight: 20;
	line-height: 26.5px;
	cursor: pointer;
	/*   margin: 20px; */
	/*   width: 100%; */
	font-family: "lotteMartHappy";
	height: 36px;
	width: 19em;
	text-align: center;
	position: relative;
	text-decoration: none;
	z-index: 10000;
	color: rgb(170, 137, 190);
	margin-left: 7.8em;
	margin-top: -4em;
	margin-bottom: 1.1em;
}

.hoverbtn6:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.hoverbtn6:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
/* Effect 6 */
.hoverbtn6.effect-6 {
	/*     box-shadow: 0 0 0 4px rgba(255, 255, 255, 1);
 */
	box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hoverbtn6.effect-6:hover {
	background: rgba(255, 255, 255, 1);
	color: #64bb5d;
}

.hoverbtn6.effect-6:hover i {
	color: #64bb5d;
}

.hoverbtn6.effect-6:hover:before {
	-webkit-animation: spinAround 2s linear infinite;
	-moz-animation: spinAround 2s linear infinite;
	animation: spinAround 2s linear infinite;
}

#c {
	margin-left: -83em;
	margin-top: 5em;
}

#A1 {
	margin-top: 7em;
	margin-left: -10em;
	position: relative;
}

#A2 {
	margin-top: -47.5em;
	margin-left: -8.5em;
	position: relative;
	!
	important;
}

#A3 {
	z-index: 4;
	margin-top: 9.5em;
	margin-left: 2em;
}

#A4 {
	margin-top: -57em;
	z-index: 5;
	margin-left: -13.5em;
}

#A5 {
	margin-left: 102em;
	margin-top: -10.7em;
	opacity: 0.7;
}

#A5a {
	margin-left: 84.5em;
	margin-top: 3em;
	opacity: 0.5;
}

#A5b {
	margin-left: 10em;
	margin-top: 5.5em;
	opacity: 0.8;
}

#A5c{
margin-left: 2em;
z-index: 1000;
}

#A6 {
	margin-left: 84em;
	margin-top: -2em;
}

.big-btn {
	padding: 10px 0px 11px 0px;
	width: 215px;
	margin-top: 5px;
}

.big-btn i {
	font-size: 65px;
	margin-right: 0px !important;
}

.big-btn strong {
	font-size: 25px;
	text-shadow: 1px 2px 0px #34659B;
	color: #fff;
	line-height: 24px;
}

.big-btn .btn-text {
	margin-top: 6px;
}

.big-btn small {
	font-size: 75%;
}

.android-btn {
	width: 240px;
	padding: 13px 17px 13px 0px;
	background-color: #000;
	border-color: #000;
}

.android-btn:hover {
	background-color: #272727;
}

.android-btn i {
	font-size: 55px;
}

.android-btn .btn-text {
	margin-top: 0px;
}

.android-btn strong {
	font-size: 25px;
	text-shadow: none;
	color: #fff;
	line-height: 24px;
}

.windows-btn {
	background-color: #008A00;
	width: 235px;
	padding: 13px 5px 13px 10px;
	border-color: #055805;
}

.windows-btn:hover {
	background-color: #008A00;
}

.windows-btn .btn-text {
	text-shadow: none;
	font-size: 26px;
	line-height: 25px;
}
</style>

</head>

<body id="page-top" class="index">

	<!-- Navigation -->
	<nav id="mainNav"
		class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="/"
					style="font-size: 70px;"> Z U P </a>

			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li class="hidden"><a href="#page-top"></a></li>

					<!-- 로그인시 페이지 변화 -->

					<%if(sessionId == null){%>
					<li><a class="page-scroll" href="#introduce">회사소개</a></li>
					<li><a href="#" data-toggle="modal" data-target="#myModal">로그인</a></li>
					<li><a href="agree">회원가입</a></li>
					<li><a href="#" id="myButton">마이페이지</a></li>
					<li><a href="notice">고객센터</a></li>

				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<!-- Header -->


	<!-- Modal -->
	<div class="modal fade" id="myModal" role="dialog"
		style="margin-top: 9em;">
		<div class="modal-dialog">
			<div class="modal-header" style="margin-top: -2em;"></div>
			<!-- Modal content-->
			<div class="modal-content" style="height: 350px; margin-top: -5em;">
				<div class="modal-body"
					style="background-image: url('/img/gray.JPG'); background-size: 100% 100%;">
					<button type="button" class="close" data-dismiss="modal"
						style="padding-top: 30px;">&times;</button>
					<form class="form-signin" method="post"
						onsubmit="return loginFormSubmit(this);" style="margin-top: 7em;">

						<img src="/img/log2.png"
							style="height: 6em; width: 16em; margin-top: -3em; margin-bottom: 5em; margin-left: 13em;">

						<label for="inputId" class="sr-only">ID</label> <input type="id"
							name="inputId" id="inputId" class="form-control" placeholder="ID">
						<br> <label for="inputPassword" class="sr-only">Password</label>
						<input type="password" id="inputPassword" name="inputPassword"
							class="form-control" placeholder="Password"> <br>
						<!--  <div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							Remember me
						</label>
					</div>-->
						<button class="btn btn-lg btn-success btn-block" type="submit">로그인</button>
						<hr />
						<div style="text-align: center;">
							<p>
								<a href="/">홈</a> |<a href="idcheck">아이디찾기</a> | <a
									href="pwcheck">비밀번호 찾기</a> | <a href="agree">회원가입</a> | <a
									href="notice">고객센터</a>
							</p>
						</div>
					</form>
				</div>
			</div>
			<!-- 	</nav> -->

		</div>
	</div>
	
	<header>
	
	<!-- Services Section -->

	<section id="introduce"
		style="background-image: url('/img/gray.jpg'); background-size: 100% 100%">


		<div id="a" style="margin-top: -2em;">

			<img src="/img/memo2.png" style="width: 9em; height: 8em;"> <img
				src="/img/memo.png" style="width: 8em; height: 8em;">

		</div>

		<div id="a2">
			<img src="/img/write.png" style="width: 5em; height: 5em;"> <img
				src="/img/write2.png"
				style="width: 4em; height: 4em; margin-left: 4.5em;">
		</div>


		<div id="b">

			<img src="/img/tex.png" style="height: 400px; width: 300px;">
			<!-- <img src="/img/bottle2.png"
				style="height: 150px; margin-left: -15em;"> <img
				src="/img/bottle3.png" style="height: 150px;"> -->
		</div>

		<a href="/receipt" style="">
			<div id="b2">
				<img src="/img/menu5.png" style="width: 270px; height: 70px; margin-top: 1.5em;">

			</div>
		</a>

		<!-- <버튼> -->
		<br>
		<div id=b3 style="margin-top: -6.3em; margin-left: -24em;">
			<div class="container">
				<div class="row">
					<div class="block">
						<a id="orderButton"><i class="hoverbtn effect-6">공병 접수 바로가기</i></a>
					</div>
				</div>
			</div>
		</div>


		<div id="c">
			<a href="#"><img src="/img/appstore.png"
				style="width: 10.5em; height: 3em; margin-right: 1em;"></a> 
			<a href="#"><img
				src="/img/google.png" style="width: 10.5em; height: 3em;"></a>

		</div>

		<div id="A2">
			<img src="/img/monitor.png"
				style="margin-left: 10em; margin-top: 8em; width: 44em; height: 31.5em; z-index: -10;">

			<div
				style="margin-top: -34.8em; margin-bottom: 4em; margin-left: 9.8em; z-index: -10">

				<video width="572" height="450" controls="controls"
					class="video-js vjs-default-skin" data-setup="{}"
					autoplay="autoplay" muted="muted" loop="loop">

					<source src="/stylesheets/img/main/ZUPMovie.mp4" type="video/mp4" />
				</video>
			</div>

		</div>

		<div id="A3">

			<img src="/img/menu.png"
				style="width: 20%; height: 65px; margin-left: 82.5em; margin-top: -80.5em;">
			<img src="/img/menu2.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -75em;">
			<img src="/img/menu4.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -70.9em;">
			<img src="/img/menu3.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -66.8em;">
		</div>
		<div id="A4">
			<h5 style="margin-left: 85em; margin-top: 10em; color: white;">
				Company<br>Information
			</h5>
			<p style="margin-left: 85em; margin-top: 2.5em; color: grey;">ZUP
				사회적역할</p>
			<p style="margin-left: 85em; margin-top: 1.8em; color: white;">회사기부목표</p>
			<p style="margin-left: 85em; margin-top: 2em; color: white;">회사기부내역</p>
		</div>


		<div class="row" style="margin-left: 74.7em; margin-top: -2em;">

			<div style="margin-top: -12.5em;">
				<div class="block">

					<i class="hoverbtn3 effect-6">기업소개보기</i>
				</div>
				<div class="block" style="color: rgb(248, 252, 157)">

					<i class="hoverbtn4 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn5 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn6 effect-6">자세히</i>
				</div>
			</div>
		</div>


		<div id="A5">
			<img src="/img/flower.png" style="height: 2em; margin-right: -0.5px;">
			<br> <img src="/img/goal2.png"
				style="height: 2em; margin-right: 9px; margin-top: 1.5em;"> <br>
			<img src="/img/list.png"
				style="height: 2em; margin-right: 8px; margin-top: 2em;">
		</div>



<br><br><br><br>
		<div id="A5a">
			<img src="/img/yellow.png" style="height: 250px; width: 310px;">
		</div>

		<div id="A5b">
			<img src="/img/phone.png"
				style="width: 100px; height: 150px; margin-left: 65.5em; margin-top: -27.5em;">
			<img src="/img/zupM.png"
				style="width: 90px; height: 118px; margin-left: 65.9em; margin-top: -30em;">
				</div>
		<div id="A5c">
			<p style="margin-left: 65em; margin-top: -19.5em; font-size: 18px; color: black;">
				ZUP_MAN_SERVICE </p>
			<p style="margin-left: 81em; margin-top: 3em; font-size: 16px; color: black;">
				줍맨은 <br>당신이 있는 곳 <br> 어디에나 있습니다
			</p>
			</div>



	</section>
	
	</header>
	
	
	
	
	        <% }else if(sessionId == 'admin'){ %>
			<li><a> <%=sessionId%>님 로그인 </a></li>
			<li><a class="page-scroll" href="#introduce">회사소개</a></li>
			<li><a href="user">관리자페이지</a></li>
			<li><a href="notice">고객센터</a></li>
			<li><a href="logout">로그아웃</a></li>
		</ul>
	</div>
</div>
	<!-- /.container-fluid -->
	</nav>
	<!-- Header -->
	<header>
	
	<!-- Services Section -->

	<section id="introduce"
		style="background-image: url('/img/gray.jpg'); background-size: 100% 100%">


		<div id="a" style="margin-top: -2em;">

			<img src="/img/memo2.png" style="width: 9em; height: 8em;"> <img
				src="/img/memo.png" style="width: 8em; height: 8em;">

		</div>

		<div id="a2">
			<img src="/img/write.png" style="width: 5em; height: 5em;"> <img
				src="/img/write2.png"
				style="width: 4em; height: 4em; margin-left: 4.5em;">
		</div>


		<div id="b">

			<img src="/img/tex.png" style="height: 400px; width: 300px;">
			<!-- <img src="/img/bottle2.png"
				style="height: 150px; margin-left: -15em;"> <img
				src="/img/bottle3.png" style="height: 150px;"> -->
		</div>

		<a href="/receipt" style="">
			<div id="b2">
				<img src="/img/menu5.png" style="width: 270px; height: 70px; margin-top: 1.5em;">

			</div>
		</a>

		<!-- <버튼> -->
		<br>
		<div id=b3 style="margin-top: -6.3em; margin-left: -24em;">
			<div class="container">
				<div class="row">
					<div class="block">
						<a href="/receipt"><i class="hoverbtn effect-6">공병 접수 바로가기</i></a>
					</div>
				</div>
			</div>
		</div>







		<div id="c">
			<a href="#"><img src="/img/appstore.png"
				style="width: 10.5em; height: 3em; margin-right: 1em;"></a> 
			<a href="#"><img
				src="/img/google.png" style="width: 10.5em; height: 3em;"></a>

		</div>

		<div id="A2">
			<img src="/img/monitor.png"
				style="margin-left: 10em; margin-top: 8em; width: 44em; height: 31.5em; z-index: -10;">

			<div
				style="margin-top: -34.8em; margin-bottom: 4em; margin-left: 9.8em; z-index: -10">

				<video width="572" height="450" controls="controls"
					class="video-js vjs-default-skin" data-setup="{}"
					autoplay="autoplay" muted="muted" loop="loop">

					<source src="/stylesheets/img/main/ZUPMovie.mp4" type="video/mp4" />
				</video>
			</div>

		</div>

		<div id="A3">

			<img src="/img/menu.png"
				style="width: 20%; height: 65px; margin-left: 82.5em; margin-top: -80.5em;">
			<img src="/img/menu2.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -75em;">
			<img src="/img/menu4.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -70.9em;">
			<img src="/img/menu3.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -66.8em;">
		</div>
		<div id="A4">
			<h5 style="margin-left: 85em; margin-top: 10em; color: white;">
				Company<br>Information
			</h5>
			<p style="margin-left: 85em; margin-top: 2.5em; color: grey;">ZUP
				사회적역할</p>
			<p style="margin-left: 85em; margin-top: 1.8em; color: white;">회사기부목표</p>
			<p style="margin-left: 85em; margin-top: 2em; color: white;">회사기부내역</p>
		</div>



		<div class="row" style="margin-left: 74.7em; margin-top: -2em;">

			<div style="margin-top: -12.5em;">
				<div class="block">

					<i class="hoverbtn3 effect-6">기업소개보기</i>
				</div>
				<div class="block" style="color: rgb(248, 252, 157)">

					<i class="hoverbtn4 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn5 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn6 effect-6">자세히</i>
				</div>
			</div>
		</div>


		<div id="A5">
			<img src="/img/flower.png" style="height: 2em; margin-right: -0.5px;">
			<br> <img src="/img/goal2.png"
				style="height: 2em; margin-right: 9px; margin-top: 1.5em;"> <br>
			<img src="/img/list.png"
				style="height: 2em; margin-right: 8px; margin-top: 2em;">
		</div>


		<div id="A5a">
			<img src="/img/yellow.png" style="height: 250px; width: 310px;">
		</div>

		<div id="A5b">
			<img src="/img/phone.png"
				style="width: 100px; height: 150px; margin-left: 65.5em; margin-top: -27.5em;">
			<img src="/img/zupM.png"
				style="width: 90px; height: 118px; margin-left: 65.9em; margin-top: -30em;">
		<div id="A5c">
			<p style="margin-left: 55em; margin-top: -19.5em; font-size: 18px; color: black;">
				ZUP_MAN_SERVICE </p>
			<p style="margin-left: 72.5em; margin-top: 3em; font-size: 16px; color: black;">
				줍맨은 <br>당신이 있는 곳 <br> 어디에나 있습니다
			</p>


		<div id="A6">
			<a href="#"><img src="/img/twitter.png"
				style="height: 4em; margin-right: -0.5px;"></a> 
			<a href="#">	<img
				src="/img/facebook.png" style="height: 3em; margin-right: 9px;"></a>
			<a href="#"><img src="/img/instar.png" style="height: 3em; margin-right: 8px;"></a>
			<a href="#"><img src="/img/gogle.png" style="height: 3em; margin-right: 8px;"></a>
			<a href="#"><img src="/img/share.png" style="height: 3em; margin-right: 2px;"></a>
		</div>

	</section>
	
	</header>
	
	<%}else if(sessionId!= null && sessionId != 'admin'){%>
			<li><a><%=sessionId%>님 로그인중...</a></li>
			<li><a href="mypage">마이페이지</a></li>
			<li><a class="page-scroll" href="#introduce">회사소개</a></li>
			<li><a href="notice">고객센터</a></li>
			<li><a href="logout">로그아웃</a></li>
		</ul>
	</div>
<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
	</nav>
	<!-- Header -->
	 <header>
		
	<!-- Services Section -->

	<section id="introduce"
		style="background-image: url('/img/gray.jpg'); background-size: 100% 100%">


		<div id="a" style="margin-top: -2em;">

			<img src="/img/memo2.png" style="width: 9em; height: 8em;"> <img
				src="/img/memo.png" style="width: 8em; height: 8em;">

		</div>

		<div id="a2">
			<img src="/img/write.png" style="width: 5em; height: 5em;"> <img
				src="/img/write2.png"
				style="width: 4em; height: 4em; margin-left: 4.5em;">
		</div>


		<div id="b">

			<img src="/img/tex.png" style="height: 400px; width: 300px;">
			<!-- <img src="/img/bottle2.png"
				style="height: 150px; margin-left: -15em;"> <img
				src="/img/bottle3.png" style="height: 150px;"> -->
		</div>

		<a href="/receipt" style="">
			<div id="b2">
				<img src="/img/menu5.png" style="width: 270px; height: 70px; margin-top: 1.5em;">

			</div>
		</a>

		<!-- <버튼> -->
		<br>
		<div id=b3 style="margin-top: -6.3em; margin-left: -24em;">
			<div class="container">
				<div class="row">
					<div class="block">
						<a href="/receipt"><i class="hoverbtn effect-6">공병 접수 바로가기</i></a>
					</div>
				</div>
			</div>
		</div>







		<div id="c">
			<a href="#"><img src="/img/appstore.png"
				style="width: 10.5em; height: 3em; margin-right: 1em;"></a> 
			<a href="#"><img
				src="/img/google.png" style="width: 10.5em; height: 3em;"></a>

		</div>

		<div id="A2">
			<img src="/img/monitor.png"
				style="margin-left: 10em; margin-top: 8em; width: 44em; height: 31.5em; z-index: -10;">

			<div
				style="margin-top: -34.8em; margin-bottom: 4em; margin-left: 9.8em; z-index: -10">

				<video width="572" height="450" controls="controls"
					class="video-js vjs-default-skin" data-setup="{}"
					autoplay="autoplay" muted="muted" loop="loop">

					<source src="/stylesheets/img/main/ZUPMovie.mp4" type="video/mp4" />
				</video>
			</div>

		</div>

		<div id="A3">

			<img src="/img/menu.png"
				style="width: 20%; height: 65px; margin-left: 82.5em; margin-top: -80.5em;">
			<img src="/img/menu2.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -75em;">
			<img src="/img/menu4.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -70.9em;">
			<img src="/img/menu3.png"
				style="width: 20%; height: 50px; margin-left: 82.5em; margin-top: -66.8em;">
		</div>
		<div id="A4">
			<h5 style="margin-left: 85em; margin-top: 10em; color: white;">
				Company<br>Information
			</h5>
			<p style="margin-left: 85em; margin-top: 2.5em; color: grey;">ZUP
				사회적역할</p>
			<p style="margin-left: 85em; margin-top: 1.8em; color: white;">회사기부목표</p>
			<p style="margin-left: 85em; margin-top: 2em; color: white;">회사기부내역</p>
		</div>



		<div class="row" style="margin-left: 74.7em; margin-top: -2em;">

			<div style="margin-top: -12.5em;">
				<div class="block">

					<i class="hoverbtn3 effect-6">기업소개보기</i>
				</div>
				<div class="block" style="color: rgb(248, 252, 157)">

					<i class="hoverbtn4 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn5 effect-6">자세히</i>
				</div>
				<div class="block">

					<i class="hoverbtn6 effect-6">자세히</i>
				</div>
			</div>
		</div>


		<div id="A5">
			<img src="/img/flower.png" style="height: 2em; margin-right: -0.5px;">
			<br> <img src="/img/goal2.png"
				style="height: 2em; margin-right: 9px; margin-top: 1.5em;"> <br>
			<img src="/img/list.png"
				style="height: 2em; margin-right: 8px; margin-top: 2em;">
		</div>


		<div id="A5a">
			<img src="/img/yellow.png" style="height: 250px; width: 310px;">
		</div>

		<div id="A5b">
			<img src="/img/phone.png"
				style="width: 100px; height: 150px; margin-left: 65.5em; margin-top: -27.5em;">
			<img src="/img/zupM.png"
				style="width: 90px; height: 118px; margin-left: 65.9em; margin-top: -30em;">
		<div id="A5c">
			<p style="margin-left: 55em; margin-top: -19.5em; font-size: 18px; color: black;">
				ZUP_MAN_SERVICE </p>
			<p style="margin-left: 72.5em; margin-top: 3em; font-size: 16px; color: black;">
				줍맨은 <br>당신이 있는 곳 <br> 어디에나 있습니다
			</p>

<br><br><br><br>

		<div id="A6">
			<a href="#"><img src="/img/twitter.png"
				style="height: 4em; margin-right: -0.5px;"></a> 
			<a href="#">	<img
				src="/img/facebook.png" style="height: 3em; margin-right: 9px;"></a>
			<a href="#"><img src="/img/instar.png" style="height: 3em; margin-right: 8px;"></a>
			<a href="#"><img src="/img/gogle.png" style="height: 3em; margin-right: 8px;"></a>
			<a href="#"><img src="/img/share.png" style="height: 3em; margin-right: 2px;"></a>
		</div>

	</section>
		
	</header>
	<%};%> 

	
	<section>
		<div class="col-lg-12 text-center">
			<h2 class="section-heading">회사소개</h2>
			<h3 class="section-subheading text-muted">Introduction to the
				Introduction of the ZUP Company.</h3>

			<div style="margin-top: -3em; margin-bottom: 3em;">
				<video width="700" height="500" controls="controls"
					class="video-js vjs-default-skin" data-setup="{}"
					autoplay="autoplay" muted="muted" loop="loop">

					<source src="/stylesheets/img/main/ZUPMovie.mp4" type="video/mp4" />
				</video>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> 
					<i class="	fa fa-child fa-stack-1x fa-inverse"></i>

				</span>
				<h4 class="service-heading">사회적 역할로서의 ZUP</h4>
				<p class="text-muted">
					'재사용률을 높여 아름다운 세상을 만들어요! <br> ZUP은 공병 분리수거에 따르는 번거로움을 해소하고자
					개발된 서비스 입니다.

				</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x"> 
				<i class="fa fa-circle fa-stack-2x text-primary"></i> 
				<i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>

				</span>
				<h4 class="service-heading">ZUP 2017년 기부 목표</h4>
				<p class="text-muted">
					ZUP은 매년 목표수집량의 10%를 기부금으로 잡고 기업활동을 펼치고 있습니다. <br> 올해 ZUP은 약
					2천병의 공병을 기부하고자 목표하고 있습니다.
				</p>
			</div>
			<div class="col-md-4">
				<span class="fa-stack fa-4x"> <i
					class="fa fa-circle fa-stack-2x text-primary"></i> <i
					class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
				</span>
				<h4 class="service-heading">ZUP 기부 내역</h4>
				<p class="text-muted">
					2016년부터 시작 된 ZUP의 기부 발자취를 살펴보실 수 있습니다. <br>ZUP은 매년 기부 금액을 투명하게
					공개하고 있습니다
				</p>

			</div>
		</div>
	</section>


	<!-- Team Section -->
	<section class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">사회적 역할로서의 ZUP</h2>
					<h3 class="section-subheading text-muted">빈병 재사용은 환경을 아끼는
						길입니다.</h3>
				</div>
			</div>
			<div class="row">
				<div style="margin-top: -2em; margin-left: 17em;">
					<video width="700" height="500" controls="controls"
						class="video-js vjs-default-skin" data-setup="{}"
						autoplay="autoplay" muted="muted" loop="loop">

						<source src="/stylesheets/img/main/video.mp4" type="video/mp4" />
					</video>
				</div>

				<br> <br> <br>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center"
					style="margin-top: -4em;">
					<p class="large text-muted">ZUP은 공병 분리수거에 따르는 번거로움을 해소하고자 개발된
						서비스입니다. 궁극적으로 ZUP이 추구하는 것은, 공병의 순환률을 높임으로서 개개인은 공병반환에 따라 소정의 용돈벌이를
						할 수 있도록 하고, 기업의 입장에서는 공병재사용율을 높이는 등 환경보호적 측면과 사회경제적 측면 모두에서 긍정적
						효과를 이끌어내는데 앞장서는 기업이 되는 것입니다.</p>
				</div>
			</div>
		</div>
	</section>




	<!-- About Section -->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">ZUP 착한 목표</h2>
					<h3 class="section-subheading text-muted">Good goal of the
						year 2017 ZUP.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<ul class="timeline">
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/vol4.png"
									style="width: 150px; height: 150px; margin-left: 3px; margin-top: 3px;"
									alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>착한 목표 1</h4>
									<h4 class="subheading">Our Humble Beginnings</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">
										2017년 ZUP은 20만 공병 수거를 예상하고 있습니다 <br> 17년도 기부 목표량은 총 수거량의
										10%로 약 2만병을 기부목표로 잡고 있습니다. 2만병의 현금환산액은 약 5천만원으로, ZUP은 해당 금액을
										사회에 필요한 곳에
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/old.png"
									style="width: 150px; height: 150px; margin-left: 3px; margin-top: 3px;"
									alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>착한 목표 2</h4>
									<h4 class="subheading">Donations to senior citizens living
										alone.</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">2017년 기부 예정금액의 30%를 저소득층 독거노인을 위해
										기부하고자 합니다</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image">
								<img class="img-circle img-responsive" src="img/about/tree.png"
									style="width: 150px; height: 150px; margin-left: 3px; margin-top: 3px;"
									alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>착한 목표 3</h4>
									<h4 class="subheading">Environmental Foundation Agreement</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">
										ZUP은 국내 환경재단과 협약을 맺고 매년 200그루의 나무를 기부해왔습니다. 올해는 300그루의 나무를 <br>기부할
										수 있도록 노력하겠습니다
									</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<img class="img-circle img-responsive"
									src="img/about/alchol.png"
									style="width: 150px; height: 150px; margin-left: 3px; margin-top: 3px;"
									alt="">
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>착한 목표 4</h4>
									<h4 class="subheading">Free distribution of Alcoholics
										Anonymous</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">알콜증독자에게 경각심을 일으키는 예방전단지를 제작하여 무료배포
										하겠습니다.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>
									지금 바로 <br>ZUP과 함께 <br>기부하세요!
								</h4>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<!-- Portfolio Grid Section -->
	<section id="portfolio" class="bg-light-gray">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">ZUP 기부내역</h2>
					<h3 class="section-subheading text-muted">Contribution details
						of the previous generation.</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal1" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> 
						<img src="/stylesheets/img/main/vol16.jpg" class="img-responsive" alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>저소득층 노후주택 개보수지원사업</h4>
						<p class="text-muted">400,000,000원</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal2" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> <img src="/stylesheets/img/main/vol11.jpg" class="img-responsive"
						alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>저소득층 아동 지원기금</h4>
						<p class="text-muted">10,000,000원</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal3" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> <img src="/stylesheets/img/main/vol12.jpg" class="img-responsive"
						alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>사랑의 쌀</h4>
						<p class="text-muted">400kg 후원</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal4" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> <img src="/stylesheets/img/main/vol13.jpg" class="img-responsive"
						alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>저소득층 연탄기부</h4>
						<p class="text-muted">10,000,000원</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal5" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> <img src="/stylesheets/img/main/vol14.jpg" class="img-responsive"
						alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>사랑의 나눔 바자회</h4>
						<p class="text-muted">의류용품 200종 후원</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 portfolio-item">
					<a href="#portfolioModal6" class="portfolio-link"
						data-toggle="modal">
						<div class="portfolio-hover">
							<div class="portfolio-hover-content">
								<i class="fa fa-plus fa-3x"></i>
							</div>
						</div> <img src="/stylesheets/img/main/vol15.jpg" class="img-responsive"
						alt="" style="width: 400; height: 289px;">
					</a>
					<div class="portfolio-caption">
						<h4>교복지원금 기탁</h4>
						<p class="text-muted">200,000,000원</p>
					</div>
				</div>
			</div>
		</div>
	</section>



	<div class="portfolio-modal modal fade" id="portfolioModal1"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
					
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol16.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					
					<p>2017년 기부 예정금액의 30%를 저소득층 독거노인을 위해 기부하고자 합니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>

	</div>

	<!-- Portfolio Modal 2 -->
	<div class="portfolio-modal modal fade" id="portfolioModal2"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
					<h2>Project Heading</h2>
					<p class="item-intro text-muted">Lorem ipsum dolor sit amet
						consectetur.</p>
					
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol11.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a
							href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Portfolio Modal 3 -->
	<div class="portfolio-modal modal fade" id="portfolioModal3"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
					
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol12.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a
							href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- 	Portfolio Modal 4 -->
	<div class="portfolio-modal modal fade" id="portfolioModal4"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
					
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol13.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a
							href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 	Portfolio Modal 5 -->
	<div class="portfolio-modal modal fade" id="portfolioModal5"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
				
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol14.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a
							href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- 	Portfolio Modal 6 -->
	<div class="portfolio-modal modal fade" id="portfolioModal6"
		tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl"></div>
					</div>
				</div>
				<div class="modal-body">
					
					<h2 style="margin-top: -1em;">2016년 6월 9일 기부</h2>
					<p class="item-intro text-muted">아름다운 회사 ZUP의 첫번째 기부 발자취</p>
					<img class="img-responsive img-centered"
						src="/stylesheets/img/main/vol15.jpg"
						style="height: 300px; width: 500px;">
					<p>2016년 12월 21일 달성한 기부금액의 30%를 저소득층 노후 주택보수 공사를 위해 기부하였습니다</p>
					<p>
						<strong>지금 바로 함께 하시겠습니까?</strong><br>용돈도 벌고 기부도 하는 ZUP! 지금 바로
						가입하세요 <a
							href="agree">here</a>.
					</p>
					<ul class="list-inline">
						<li>금액: 2천만원</li>
						<li>출처: HUG</li>
						<li>후원: ZUP</li>
					</ul>
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<i class="fa fa-times"></i> 닫기
					</button>
				</div>
			</div>
		</div>
	</div>
	
	

<% include footer.ejs %>




</body>
	
	
<!--  로그인시 마이페이지 가기 -->
<script type="text/javascript">
	window.onload = function() {
		var button = document.getElementById('myButton');
		var button2 = document.getElementById('orderButton');
		//마이페이지	
		button.onclick = function() {
			var id = "<%= sessionId%>";
			if (id == "") {
				swal({
					title : '잠시만!',
					text : '먼저 로그인을 해주세요!',
					type : 'warning'

				})
			} else {
				location.href = "mypage"
			}
		}
		//접수하기
		button2.onclick = function() {
			console.log("들어와111111111111");
			var id = "<%= sessionId%>";
			if (id == "") {
				swal({
					title : '잠깐!',
					text : '로그인 후 접수하실 수 있습니다.!',
					type : 'warning'
				})
			} else {
				console.log("들어와");
				self.location.href = "/receipt";
			}
		}
	};
</script>
<!-- 로그인 유효성 검사 -->
<script type="text/javascript">
	function loginFormSubmit(form) {

		if ($("#inputId").val() === "") {
			swal({
				title : '아이디 미입력!',
				text : '아이디를 입력해주세요!',
				type : 'warning',
			});
			$("#inputId").focus();
			return false;
		}

		if ($("#inputPassword").val() === "") {
			swal({
				title : '비밀번호 미입력!',
				text : '비밀번호를 입력해주세요!',
				type : 'warning',
			})
			$("#inputPassword").focus();
			return false;
		}
	}
</script>

