<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>ZUP_로그인</title>

<!-- Bootstrap Core CSS -->
<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!-- Custom CSS -->
<link href="/stylesheets/css/stylish-portfolio.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="/stylesheets/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">

<!-- Sweetalert -->
<script src="/stylesheets/js/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/css/sweetalert2.min.css">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<!-- Custom Fonts -->

<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
<!-- Theme CSS -->
<script src="/stylesheets/js/sweetalert2.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/css/sweetalert2.min.css">
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet"
  type="text/css">
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


</head>

<body>

  <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top" 
  style="background-color: #054229; height: 20px;">
    
      <div class="navbar-header page-scroll">
       
        <a  href="/" class="navbar-brand page-scroll" style="margin-top: -0.7em;"> Z U P </a>
        
      </div>

  </nav>


<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
	<div class="container">
		<div class="row">
			<div class="wrapper col-md-offset-4 col-md-4">
				<form class="form-signin"  method="post" onsubmit="return loginFormSubmit(this);">
					<h2 class="form-signin-heading">Log In</h2>
					<label for="inputId" class="sr-only">ID</label> 
					<input type="id"  name="inputId" id="inputId" class="form-control" placeholder="ID" > 
						<br>
						<label for="inputPassword"
						class="sr-only">Password</label> <input type="password"
						id="inputPassword" name="inputPassword" class="form-control" placeholder="Password"
						>
						<br>
					<!--  <div class="checkbox">
						<label> <input type="checkbox" value="remember-me">
							Remember me
						</label>
					</div>-->
					<button class="btn btn-lg btn-success btn-block" type="submit">Sign
						in</button>
						<hr />
						<div style="text-align: center;">
						<p><a href="/">홈</a> |<a href="idcheck">아이디찾기</a> | <a href="pwcheck">비밀번호 찾기</a> |
						<a href="agree">회원가입</a> | <a href="notice">고객센터</a></p> 
						</div>
				</form>
			</div>
		</div>
	</div>
	
	
<!-- 로그인 유효성 검사 -->
<script type="text/javascript">
 function loginFormSubmit(form){
	
	if($("#inputId").val() === ""){
		swal({
				  title : '아이디 미입력!',
				  text : '아이디를 입력해주세요!',
				  type :'warning',
		});
		$("#inputId").focus();
		return false;
	}
	
	if($("#inputPassword").val() === ""){
		swal({
				  title : '비밀번호 미입력!',
				  text : '비밀번호를 입력해주세요!',
				  type :'warning',
		})
		$("#inputPassword").focus();
		return false;
	}
 }


</script>


<script src="https://code.jquery.com/jquery-1.9.1.js" type="text/javascript" ></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>

</html>
