<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ZUP_접수</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/css/agency.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/stylesheets/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
  <body>
<% include header.ejs %>
<div style="margin-top:200px;"></div>
  <div class="container text-center">
    <div class="container col-md-offset-1" >
       <div style="background-color: rgb(175, 207, 167); width: 80%; height:100%;">
        <br><br>
     
           <h2 class="section-heading" style="font-size: 40px; color: white;">접수가 완료 되었습니다 !</h2>

           <div style="margin-top:50px;"></div>
           <img src="images/image_05.png" style="width:15%"> 
           <div style="margin-top:50px;"></div>

           <h2 class="section-subheading text-muted" style="font-size: 25px; color: grey;">
           <%= name %></h2>   
           <h2 class="section-subheading text-muted" style="font-size: 25px; color: grey;">
           <%= tel %></h2>   
           <h2 class="section-subheading text-muted" style="font-size: 25px; color: grey;">
           <%= mapAddress %></h2>   
           <h2 class="section-subheading text-muted" style="font-size: 25px; color: grey;">
           <%= detailAddress %></h2>  

          <div style="margin-top:40px;"></div>
	      <a href="/" class="btn btn-dark btn-lg">홈으로</a>
          <div style="margin-top:80px;"></div>
    </div>
    


        <br><br>
   </div>
  </div>
   <% include footer.ejs %>
  </body>
</html>