<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>접수하기 페이지</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/stylesheets/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
<style type="text/css">
  .breadcrumb {
    padding: 0px;
    background: transparent;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.breadcrumb>li {
    display: table-cell;
    vertical-align: top;
    width: 1%;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: inline-block;
    width: calc( 100% - 10px );
    background-color: hsla(0, 0%, 83%, 1);
    text-align: center;
    text-transform: capitalize;
}

.breadcrumb li.completed a {
    background: brown;
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.completed a:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active a {
    background: #ffc107;
}

.breadcrumb li.active a:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li:first-child a {
    padding-left: 15px;
}

.breadcrumb li:last-of-type a {
    width: calc( 100% - 38px );
}

.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.green{
    background-color:green;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

#map {
   height: 100%;
   width: 100%;
}
/* Optional: Makes the sample page fill the window. */
  html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>
  
</head>
  <body>
<form method="post">
  <div class="container">

    <h1><img src="images/zuplogo.png">접수하기</h1>
	<div class="row">
		<div class="col-md-5ths col-sm-5ths green">
		</div>
		<div class="col-md-5ths col-sm-5ths green">
		</div>
		<div class="col-md-5ths col-sm-5ths green">
		</div>
		<div class="col-md-5ths col-sm-5ths green">
		</div>
		<div class="col-md-5ths col-sm-5ths green">
		</div>
	</div>
	<div class="row">
		<ul class="breadcrumb">
    		<li><a href="javascript:void(0);">주의사항</a></li>
			<li class="completed"><a href="javascript:void(0);">필수정보입력</a></li>
			<li><a href="javascript:void(0);">접수완료</a></li>
		</ul>
	</div>

	<table class="table table-bordered" style="width: 80%; height: 80%; ">
	<tr>
	   <th>이름 : </th>
	   <td>
        <input id="name" name="name" value="<%= name %>" style="width: 100%; background-color: white; border: none;">

	   </td>
	</tr>
	<tr>
	   <th>핸드폰 번호 : </th>
	   <td>
	      <input id="telephone" name="telephone" value="<%= telephone %>" style="width: 100%; background-color: white; border: none;">	      
	   </td>
	</tr>
	<tr>
	   <td height="500px" colspan="2">
      	   <div id="map">
       	   </div>
        </td>
	</tr>
	<tr>
	   <th>선택된 내 위치 : </th>
	   <td>
	       <input id="mapAddress" name="mapAddress" style="width: 100%; background-color: white; border: none;">
	   </td>
	</tr>
	<tr>
	   <th>나머지 주소 : </th>
	   <td>
	      <input id="detailAddress" name="detailAddress" style="width : 100%;" placeholder="나머지 상세주소를 입력하여 주세요">
	   </td>
	</tr>
	
    </table>
<div>
<input type="hidden" id="lat" name="lat" style="width: 100%;">
<input type="hidden" id="lng" name="lng" style="width: 100%;">
</div>          

    <br><br><br>
  		<div style="text-align: center;">
  				<button type="submit" class="btn btn-dark btn-lg">확인</button>
				<a href="submit" class="btn btn-dark btn-lg">뒤로</a>  				        
  		</div>
              <br><br><br><br><br><br><br><br>
   </div>
</form>
<script>
var map;
var markers = [];
var address;

//구글맵 api 콜백 함수
function initMap() {

   //위치따오는 기능 실행!!!
   getLocation();
   
 //사용자의 위치 따오기
 function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function showPosition(position){      
                    
          var xxxx = position.coords.latitude;
          var yyyy = position.coords.longitude;
          
          //따온 위치로 맵생성!!!
          createMap(xxxx, yyyy);     
         
          });
      }else{
          alert("지도의 위치를 가져올수 없습니다...");
      }     
  }//getLocation()
  
  //지도생성
  function createMap(xxxx, yyyy){      

     var location = {lat: xxxx, lng: yyyy};

     //지도 세팅
      map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: location
       });

      //클릭할때마다 이벤트 발생 addMaker()호출
      map.addListener('click', function(event) {

    	  //기존에 찍혀있는 마커 삭제
     	  if(markers.length > 0){
              deleteMarkers();
          }

          getAddress(event.latLng);
          
        });//addListener()
      
      //위도,경도로 실 주소 따오기
      function getAddress(latLng) {
      
      //console.log(latLng.lat());
      //console.log(latLng.lng());
      //console.log("getAddress() 호출됨");
      
	   var geocoder = new google.maps.Geocoder();
	   geocoder.geocode({
	          latLng: latLng
	      }, function(results, status) {
	      
	     		 if (status == google.maps.GeocoderStatus.OK) {
	     		 
	      		 		if (results[0].geometry) {
	           				//console.log(results);
	            	 		address = results[0].formatted_address.replace(/^日本, /, '');
	            	 		addMarker(latLng);
	            	 		
	             		}else{
	               			 alert("정확한 위치를 클릭하여 주세요!!");
	             		}
	             		
                } else if (status == google.maps.GeocoderStatus.ERROR) {
	                alert("ERROR");
	            } else if (status == google.maps.GeocoderStatus.INVALID_REQUEST) {
	                alert("INVALID_REQUEST");
	            } else if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
	                alert("내 위치 정보가 너무 많습니다.");
	            } else if (status == google.maps.GeocoderStatus.REQUEST_DENIED) {
	                alert("REQUEST_DENIED");
	            } else if (status == google.maps.GeocoderStatus.UNKNOWN_ERROR) {
	                alert("UNKNOWN_ERROR");
	            } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
	                alert("ZERO_RESULTS");
	            } else {
	                alert(status);
	            }

             });//geocoder.geocode            
       }//getAddress()      
     }//createMap()  
}//function initMap()

   //맵에 마커 찍어주면서 배열에 넣어주기.
   function addMarker(latLng) {
	  
        var lat = latLng.lat();
        var lng = latLng.lng();
        
        //마커 세팅
        var marker = new google.maps.Marker({
          position: latLng,
          map: map
        });
        
        //인포 윈도우 세팅
        var infowindow = new google.maps.InfoWindow({
          content: "<b>" + address+ "</b><br>"
                  +"<b>위도 : </b>" + latLng.lat() + "<br>"
                  +"<b>경도 : </b>" + latLng.lng()
        });
        
        $("#mapAddress").val(address);//클릭할때마다 테이블에 주소 넣기
        $("#lat").val(lat); //hidden에 위도 값 넣기
        $("#lng").val(lng); //hidden에 경도 값 넣기
        
        //맵에 찍자마자 인포 오픈
        infowindow.open(map, marker);
        
        //마커에 인포윈도우를 열 수 있는 클릭이벤트 등록.
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
        
        //console.log("맵에 마커가 찍혔숩니다...");
        
        //마커 배열에 넣기
        markers.push(marker);

    }//addMarker()

   //마커 보여주거나, 숨기거나 기능함수
   function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
        
        //console.log("setMapOnAll() 작동");
    }//setMapOnAll()

   //모든 마커 제거하기전에 숨기기
   function clearMarkers() {
        setMapOnAll(null);
        //console.log("clearMarkers() 작동");
    }//clearMarkers()

    //생성된 모든 마커 제거
    function deleteMarkers() {
        clearMarkers();
        markers = [];
        //console.log("deleteMarkers() 작동");
    }//deleteMarkers()
      

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRLghKISjTtl9u_aDoa4e2C1H0D7us9hI&callback=initMap"></script>  
   
<!-- jQuery -->
<script src="/stylesheets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/stylesheets/js/bootstrap.min.js"></script>
   

   
  </body>
</html>