<html>
  <head>
  <meta charset="UTF-8">
  <title>ZUP_관리자 페이지</title>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
    
      
    
    
    <script type='text/javascript'>
     google.charts.load('current', {'packages': ['geochart']});
     google.charts.setOnLoadCallback(drawMarkersMap);

	
		
		
      function drawMarkersMap() {
      var data = google.visualization.arrayToDataTable([
        ['Country',   '총 회수량'],
        ['강남구',  150000],
        ['금천구',  30000],
        ['동작구',  20000],
        ['동구',  50000],
        ['춘천시',  25000],
        ['청주시',  45000],
        ['마산구',  60000],
        ['원주시',  100],
        ['광주시',  150000],
        ['제주도',  150000],
        ['안동시',  15000]
      ]);


	
      var options = {
      	
        sizeAxis: { minValue: 0, maxValue: 100000 },
        region: 'KR', // Western Europe,
        country: '춘천시',
        displayMode: 'markers',
        colorAxis: {colors: ['#4ef442', '#f44242']} // orange to blue
      };
		
      var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
      chart.draw(data, options);
      
   	  };
    </script>
    
    
    <style>
  thead{
     background-color: #333;
    color: #66ef46;
	}
 
    </style>
    
    
  </head>
  
  
  
  
  
  <body>
  <% include header.ejs %>
  <div style="margin-top:130px;">
</div>
  
  <div class="container" style="text-align: center; margin-bottom: 50px">
    <a class="btn icon-btn btn-success" href="order"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>접수관리</a>
    <a class="btn icon-btn btn-info" href="orderresult"><span class="glyphicon btn-glyphicon glyphicon-share img-circle text-info"></span>회수관리</a>
    <a class="btn icon-btn btn-warning" href="user"><span class="glyphicon btn-glyphicon glyphicon-minus img-circle text-warning"></span>회원관리</a>
    <a class="btn icon-btn btn-danger" href="total"><span class="glyphicon btn-glyphicon glyphicon-trash img-circle text-danger"></span>회수현황</a>
  </div>
  
  
    <div id="chart_div" style="height: 400px;" class="container"></div>
    <div id="content" class="container">
 <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>지역</th>
          <th>회수목표량</th>
          <th>총 회수량</th>
        </tr>
      </thead>
      <tbody>
      <tr>
      	<td>1</td>
      	<td>강남구</td>
      	<td>1000000</td>
      	<td>150000</td>
      </tr>
            <tr>
      	<td>1</td>
      	<td>강남구</td>
      	<td>1000000</td>
      	<td>150000</td>
      </tr>
            <tr>
      	<td>1</td>
      	<td>강남구</td>
      	<td>1000000</td>
      	<td>150000</td>
      </tr>
      </tbody>
      </table>
    </div>
    
	
	<% include footer.ejs %>


        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRLghKISjTtl9u_aDoa4e2C1H0D7us9hI"></script>
       
  </body>
</html>

